body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: url("pad3.jpg");*/
    /*background-color: #cccccc;*/
    /*background-size: cover;*/
    background: url("solar_system_minimal.png") no-repeat center center fixed;
    background-size: cover;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 5;
}

li {
  display: inline;
}

ul a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
}

ul a:hover {
  background-color: #dddddd;
  color: black;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 5;

}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  
}

.spacer
{
    width: 100%;
    height: 95px;
}

.text2{
    width: 40%;
    /*height: 350px;*/
    border-radius: 10px;
    margin-top: 4.5%;
    margin-left: auto;
    margin-right: auto;
    /*transform: translate(-50%, -35%);*/
    background-color: black;
    opacity: 1;
    color: white;
    overflow: auto;
}
.text8{
    width: 40%;
    /*height: 350px;*/
    border-radius: 10px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    /*transform: translate(-50%, -35%);*/
    background-color: black;
    opacity: 1;
    color: white;
    overflow: auto;
}
.coursetext{
    width: 65%;
    border-radius: 10px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: 1;
    color: white;
    overflow: auto;
    z-index: -1;
}

.coursetext h1{
    text-align: center;
    font-size: 30px;
    opacity: 1;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
    margin-top: 10px;
    padding: 15px;
    color: white;
}
.text3{
    width: 30%;
    /*height: 350px;*/
    border-radius: 10px;
    margin-top: 4.5%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    /*transform: translate(-50%, -35%);*/
    background-color: black;
    opacity: 1;
    color: white;
    overflow: auto;

}

.text2 h1{
    text-align: center;
    font-size: 30px;
    opacity: 1;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
    margin-top: 10px;
    padding: 15px;
    color: white;
}
.text8 h1{
    text-align: center;
    font-size: 30px;
    opacity: 1;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
    margin-top: 10px;
    padding: 15px;
    color: white;
}
.text3 h1{
    text-align: center;
    font-size: 30px;
    opacity: 1;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
    margin-top: 10px;
    padding: 15px;
    color: white;
}

.first-text3 {
    float: left;
    margin-top: 0px;
    color: white;
    font-size: 20px;
    padding: 13px 16px;
    border-right: 1px solid white;
    z-index: 5;

}
.first-text4 {
    text-align: center;
    margin-top: 0px;
    color: white;
    font-size: 20px;
    padding: 13px 16px;

}

.bio-text2 {
    font-size: 18px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    color: white;
    overflow: auto;
}

.bio-text2 h1{
    text-align: center;
    font-size: 25px;
    opacity: 1;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 15px;
    color: white;
}

.courses {
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    color: white;
    -webkit-column-rule: 4px double #ddd; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px double #ddd; /* Firefox */
    column-rule: 4px double #ddd;
}

.Linkedin {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.copyright {
    padding: 5px;
    text-align: center;
}

.column4 {
  float: right;
  width: 24%;
}

.column4 {
    float: left;
    width: 48%;
}
.column5 {
    float: right;
    width: 48%;
}

.row {
    -webkit-column-rule: 4px double #ddd; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px double #ddd; /* Firefox */
    column-rule: 4px double #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pp {
    float: left;
    width: 230px;
    height: 225px;
    padding: 0px 10px;
    margin-bottom: 15px;
}
.map {
    min-height: 40%;
    min-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 0px 10px;
}

.tex sub, .latex sub, .latex sup {
    text-transform: uppercase;
  }

  .tex sub, .latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
  }

  .tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
  }

  .latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
  }

.header {
    overflow: auto;
    /* text-align: center; */
    /* flex-shrink: 0; */
}
.header img {
    width: 7%;
    padding: 0px;
    /* margin-bottom: 5px; */
    vertical-align: middle
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.header h1 {
    /* position: relative; */
    /* text-align: center; */
    text-align: left;
    font-size: 25px;
    opacity: 1;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    padding: 10px;
    color: white;
}
.header-2 {
    overflow: auto;
    /* text-align: center; */
    /* flex-shrink: 0; */
}
.header-2 img {
    width: 15%;
    vertical-align: bottom
}

.header-2 h1 {
    /* position: relative; */
    text-align: left;
    font-size: 25px;
    opacity: 1;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    padding: 10px;
    color: white;
}
table {
    table-layout: fixed ;
    width: 100% ;
}
table, th, td {
    border: 1px solid white;
    color: white;
  }

th, td {
padding: 10px;
text-align: center;
}
tr:hover {background-color: #f5f5f548;}
td:hover {background-color: #f5f5f548;}
th {
    background-color: #f5f5f548;
    color: white;
}